body {margin: 0; padding: 0;}

.background {width: 1920px; height: 1080px; background-color: #5AC2E5; position: relative; }
.cube {
    position: relative;

    transform-style: preserve-3d;
}
.cube > div {
    
    position: absolute;
    text-align: center;
    line-height: 200px;

}
.cube > .left {width: 294px; }
.cube > .right {width: 294px; }
.front {

    transform: translate3d(0px,-264px,147px);
    width: 1026px;
    height: 559px; 
    background-image: url(../img/box-man.png);
}
.back {
    transform: rotateY(180deg) translate3d(0px,-280px,147px);
    width: 1026px; 
    height: 574px;
    background-image: url(../img/box-door.png);
}
.left {
    transform: rotateY(-90deg) translateZ(147px);
    width: 294px;
    height: 294px;
    background-image: url(../img/five.png);
}
.right {
    transform: rotateY(90deg) translateZ(879px);
    width: 294px;
    height: 294px;
    background-image: url(../img/five.png);
}
.top {
    transform: rotateX(-90deg) translateZ(147px);
    width: 1026px; 
    height: 294px;
    background-image: url(../img/top.png);
}
.btm {
    transform: rotateX(90deg) translateZ(147px);
    width: 1026px; 
    height: 294px;
    background-image: url(../img/top.png);
}

    width: 1026px;
    height: 294px;